.divSection1-332044079  {
    position: absolute; 
      width: 1444px;
      height: 870px;
      margin-left: 242px;
      top: 28px;
    opacity: 1;
    border: none !important;
    
    margin: 0;
    width: 100%;
    height: 100%;
    
  }
      .divHerobanner-332044085  {
    position: absolute; 
      width: 1359px;
      height: 596.5563354492188px;
      margin-left: 40px;
      top: 202.501220703125px;
    opacity: 1;
    border: none !important;
  }
    .svgillustration-332044086  {
    position: absolute; 
      width: 774px;
      height: 596.5563354492188px;
      margin-left: 585px;
    opacity: 1;
    border: none !important;
      padding: 0;

      margin-left: 75%;
      top: -15%;
      svg {     height: 817px; }
  }
    .divheadlnecalltoaction-332044299  {
    position: absolute; 
      width: 633px;
      height: 311px;
      top: 12.498779296875px;
    opacity: 1;
    border: none !important;
    margin-left: 12%;
  }

  .divheadlineadded {
    position: absolute;
    width: 370px;
    top: 181px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    line-height: undefinedpx;
    opacity: 1;
    -webkit-text-decoration: NONE;
    text-decoration: NONE;
    border: none !important;
    color: #000000;
    font-size: 29px;
    width: 777px;
    font-weight: bold;
}
    
      .lblThemostComprehensivecoveragethatfittoyouronlinebusiness-332044300  {
    position: absolute; 
      width: 633px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 36px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #000000;
  }
      
      .lblGetafreecyberriskassessmentandanoobligationquoteApplynow-332044301  {
    position: absolute; 
      width: 370px;
      
      top: 181px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 18px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #000000;
        
    font-size: 20px;
    width: 777px;
    top: 285px;
  }
      .btnapplynow-332044302  {
    position: absolute; 
      width: 300px;
      height: 40px;
      top: 271px;
    opacity: 1;
    border-radius: 100px;
    border: none !important;
        background-color: #8950fc;
        
    top: 341px;
  }
    
      .lblapplynow-332044303  {
    position: absolute; 
      width: 286px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    opacity: 1;
    text-decoration: NONE;
    text-transform: uppercase;
    text-align: CENTER;
    border: none !important;
        color: #ffffff;
  }
      .divHeader-332044304  {
    position: absolute; 
      width: 1317.370361328125px;
      height: 74px;
      margin-left: 60.99992370605469px;
      top: 38px;
    opacity: 1;
    border: none !important;
    width: 100%;
  }
    .svglogo1-332044305  {
    position: absolute; 
      width: 220.37037658691406px;
      height: 70px;
      top: 2px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .divmainmenu-332044318  {
    position: absolute; 
      width: 666px;
      height: 40px;
      margin-left: 247.37037658691406px;
      top: 17px;
    opacity: 1;
    border: none !important;
    margin-left: 30%;
  }
    .btnmenu-332044319  {
    position: absolute; 
      width: 143px;
      height: 40px;
      margin-left: 20px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
  }
    
      .lblCyberInsurance-332044320  {
    position: absolute; 
      width: 109px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #58244b;
  }
      .btnmenu-332044321  {
    position: absolute; 
      width: 130px;
      height: 40px;
      margin-left: 173px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
  }
    
      .lblCyberSecurity-332044322  {
    position: absolute; 
      width: 96px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #58244b;
  }
      .btnmenu-332044323  {
    position: absolute; 
      width: 118px;
      height: 40px;
      margin-left: 313px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
  }
    
      .lblHowitWorks-332044324  {
    position: absolute; 
      width: 84px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #58244b;
  }
      .btnmenu-332044325  {
    position: absolute; 
      width: 102px;
      height: 40px;
      margin-left: 441px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
  }
    
      .lblResources-332044326  {
    position: absolute; 
      width: 68px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #58244b;
  }
      .btnmenu-332044327  {
    position: absolute; 
      width: 93px;
      height: 40px;
      margin-left: 553px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
  }
    
      .lblAboutUs-332044328  {
    position: absolute; 
      width: 59px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #58244b;
  }
      .btncall-332044329  {
    position: absolute; 
      width: 243px;
      height: 40px;
      margin-left: 940.370361328125px;
      top: 17px;
    opacity: 1;
    border-radius: 100px;
      border: 1px SOLID #f64e60;
        background-color: #ffffff;
    margin-left: 76%;
  }
    .svgphone-332044330  {
    position: absolute; 
      width: 20px;
      height: 20px;
      top: 10px;
    opacity: 1;
    border: none !important;
      padding: 0;
      left: 38px;
  }
    
      .lblCallusformoreinfo-332044333  {
    position: absolute; 
      width: 132px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #f64e60;
        left: 64px;
  }
      .btnlogin-332044334  {
    position: absolute; 
      width: 107px;
      height: 40px;
      margin-left: 1210.370361328125px;
      top: 17px;
    opacity: 1;
    border-radius: 100px;
    border: none !important;
        background-color: #f64e60;
        margin-left: 90%;
  }
    
      .lblLogIn-332044335  {
    position: absolute; 
      width: 39px;
      
      top: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #ffffff;
        left: 43px;
  }
      .svglock-332044336  {
    position: absolute; 
      width: 20px;
      height: 20px;
      top: 10px;
    opacity: 1;
    border: none !important;
      padding: 0;
      
    top: 9px;
    left: 21px;

  }
    