.divsection-332042475  {
    position: absolute; 
      width: 100%;
      height: 568px;
      margin-left: 20px;
      top: 123px;
    opacity: 1;
    border: none !important;
  }
      
      .lblWelcometoQuickQuotationWizard-332042476  {
    position: absolute; 
      width: 100%;
      
      margin-left: 421px;
    font-family: Poppins;
    font-weight: Light;
    font-size: 30px;
    line-height: 36px;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #f64e60;
        width: 100%;
    margin: 0;
  }
      .divaccordion-332042477  {
    position: absolute; 
      width: 1400px;
      height: 511px;
      top: 57px;
    opacity: 1;
    border: none !important;
    width: 100%
  }
    .divheader-332042478  {
    position: absolute; 
      width: 94%;
      height: 49px;
    opacity: 1;
        border-bottom: 1px SOLID #d6d6e0;
  }
    .divleft-332042479  {
    position: absolute; 
      width: 145px;
      height: 21px;
      top: 14px;
    opacity: 1;
    border: none !important;
  }
    .svginfocircleoutlines-332042480  {
    position: absolute; 
      width: 16px;
      height: 16px;
      margin-left: 15px;
      top: -0.5px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    
      .lbllabel-332042483  {
    position: absolute; 
      width: 87px;
      
      margin-left: 43px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    line-height: 21px;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #212121;
  }
      .btnclose-332042484  {
    position: absolute; 
      width: 46px;
      height: 49px;
      margin-left: 07%;
    opacity: 1;
    border: none !important;
    
    margin-left: 92%;
  }
    .svgangleup-332042485  {
    position: absolute; 
      width: 16px;
      height: 16px;
      top: 16.5px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .divinfocontainer-332042497  {
      position: absolute;
      width: 1149px;
      height: 419px;
      margin-left: 18%;
      top: 165px;
      opacity: 1;
      border: none !important;
  }
    .divicleft-332042498  {
    position: absolute; 
      width: 531px;
      height: 419px;
    opacity: 1;
    border: none !important;
  }
    .diciccontainer-332042499  {
    position: absolute; 
      width: 531px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    
      .lblorganizationName-332042500  {
    position: absolute; 
      width: 118px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtorganizationName-332042501  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0;
  }
    
      .txtorganizationName-332042501  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0;
  }
    
      .lblLabel-332042502  {
    position: absolute; 
      width: 128px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042503  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 104px;
    opacity: 1;
    border: none !important;
  }
    
      .lblorganizationDescription-332042504  {
    position: absolute; 
      width: 150px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtorganizationDescription-332042505  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
    padding: 0 !important;
  }
    
      .txtorganizationDescription-332042505  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
    padding: 0 !important;
  }
    
      .lblLabel-355941726  {
    position: absolute; 
      width: 128px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042511  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 215px;
    opacity: 1;
    border: none !important;
  }
    
      .lblmailingAddress-332042512  {
    position: absolute; 
      width: 97px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtmailingAddress-332042513  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtmailingAddress-332042513  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblmailingAddress-332042514  {
    position: absolute; 
      width: 105px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042515  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 317px;
    opacity: 1;
    border: none !important;
  }
    .clnleft-332042516  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    
      .lblstate-332042517  {
    position: absolute; 
      width: 32px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtstate-332042518  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtstate-332042518  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042519  {
    position: absolute; 
      width: 35px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .clnright-332042520  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
      margin-left: 270.5px;
    opacity: 1;
    border: none !important;
  }
    
      .lblLabel-332042521  {
    position: absolute; 
      width: 157px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
        top: 0px;
  }
      .txtinputs-332042522  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 36px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important
  }
    
      .txtinputs-332042522  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 36px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important
  }
    
      .lblLabel-332042523  {
    position: absolute; 
      width: 170px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042524  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 438px;
    opacity: 1;
    border: none !important;
  }
    .clnleft-332042525  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    
      .lblcity-332042526  {
    position: absolute; 
      width: 24px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtcity-332042527  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtcity-332042527  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042528  {
    position: absolute; 
      width: 26px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .clnright-332042529  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
      margin-left: 270.5px;
    opacity: 1;
    border: none !important;
  }
    
      .lblzipCode-332042530  {
    position: absolute; 
      width: 52px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtzipCode-332042531  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important
  }
    
      .txtzipCode-332042531  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important
  }
    
      .lblLabel-332042532  {
    position: absolute; 
      width: 56px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .divicright-332042533  {
    position: absolute; 
      width: 531px;
      height: 331px;
      margin-left: 618px;
    opacity: 1;
    border: none !important;
  }
    .diciccontainer-332042534  {
    position: absolute; 
      width: 531px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    .clnleft-332042535  {
    position: absolute; 
      width: 255px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    
      .lbldateEstablish-332042536  {
    position: absolute; 
      width: 102px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtdateEstablish-332042537  {
    position: absolute; 
      width: 255px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtdateEstablish-332042537  {
    position: absolute; 
      width: 255px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    .Label-332042538  {
    position: absolute; 
      width: 240px;
      height: 18px;
      margin-left: 13.5px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
    .clnright-332042542  {
    position: absolute; 
      width: 255px;
      height: 67px;
      margin-left: 276px;
    opacity: 1;
    border: none !important;
  }
    
      .lblnoOfEmployee-332042543  {
    position: absolute; 
      width: 88px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtnoOfEmployee-332042544  {
    position: absolute; 
      width: 255px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtnoOfEmployee-332042544  {
    position: absolute; 
      width: 255px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042545  {
    position: absolute; 
      width: 96px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042546  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 104px;
    opacity: 1;
    border: none !important;
  }
    
      .lblcorporateWebsiteUrl-332042547  {
    position: absolute; 
      width: 139px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtcorporateWebsiteUrl-332042548  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtcorporateWebsiteUrl-332042548  {
    position: absolute; 
      width: 531px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042549  {
    position: absolute; 
      width: 150px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042550  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 215px;
    opacity: 1;
    border: none !important;
  }
    .clnleft-332042551  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    
      .lblofficerFirstName-332042552  {
    position: absolute; 
      width: 257px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtofficerFirstName-332042553  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtofficerFirstName-332042553  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042554  {
    position: absolute; 
      width: 70px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .clnright-332042555  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
      margin-left: 270.5px;
    opacity: 1;
    border: none !important;
  }
    
      .lblofficerLastName-332042556  {
    position: absolute; 
      width: 157px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #ffffff;
  }
      .txtofficerLastName-332042557  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtofficerLastName-332042557  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042558  {
    position: absolute; 
      width: 70px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .diciccontainer-332042559  {
    position: absolute; 
      width: 531px;
      height: 67px;
      top: 317px;
    opacity: 1;
    border: none !important;
  }
    .clnleft-332042560  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
    opacity: 1;
    border: none !important;
  }
    
      .lblofficerTelephone-332042561  {
    position: absolute; 
      width: 107px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtofficerTelephone-332042562  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
        padding: 0 !important
  }
    
      .txtofficerTelephone-332042562  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
        padding: 0 !important
  }
    
      .lblLabel-332042563  {
    position: absolute; 
      width: 116px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .clnright-332042564  {
    position: absolute; 
      width: 260.5px;
      height: 67px;
      margin-left: 270.5px;
    opacity: 1;
    border: none !important;
  }
    
      .lblofficerEmail-332042565  {
    position: absolute; 
      width: 77px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 12px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #464e5f;
  }
      .txtofficerEmail-332042566  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .txtofficerEmail-332042566  {
    position: absolute; 
      width: 260.5px;
      height: 40px;
      top: 27px;
    opacity: 1;
    border-radius: 4px;
    border: none !important;
        background-color: #ffffff;
        padding: 0 !important;
  }
    
      .lblLabel-332042567  {
    position: absolute; 
      width: 83px;
      
      margin-left: 12px;
      top: 11px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    text-decoration: NONE;
    border: none !important;
        color: #b5b5c3;
  }
      .divwizardheader-332042568  {
    position: absolute; 
      width: 1440px;
      height: 100px;
    opacity: 1;
    border: none !important;
        background-color: #fbfbfb;
        
    width: 100%;
  }
      .btnclose-332042569  {
    position: absolute; 
      width: 44px;
      height: 44px;
      margin-left: 1376px;
      top: 28px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
    
    margin-left: 96%;
  }
    .svgtimes-332042570  {
    position: absolute; 
      width: 26px;
      height: 26px;
      top: 9px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .divheaderwizarditemselected-332042574  {
    position: absolute; 
      width: 134px;
      height: 71px;
      margin-left: 500px;
      top: 15px;
    opacity: 1;
    border: none !important;
    margin-left: 35%;
  }
    .divGenralInfo-332042575  {
    position: absolute; 
      width: 87px;
      height: 71px;
    opacity: 1;
    border: none !important;
  }
    .svginfocircleoutlineA-332042576  {
    position: absolute; 
      width: 44px;
      height: 44px;
      margin-left: 21.5px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    
      .lbllabel-332042578  {
    position: absolute; 
      width: 87px;
      
      top: 50px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #f64e60;
  }
      .svgarrowrightA-332042579  {
    position: absolute; 
      width: 27px;
      height: 25px;
      margin-left: 97px;
      top: 23px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .divheaderwizarditemunselected-332042583  {
    position: absolute; 
      width: 109px;
      height: 71px;
      margin-left: 634px;
      top: 15px;
    opacity: 1;
    border: none !important;
    margin-left: 44%;
  }
    .divRevenue-332042584  {
    position: absolute; 
      width: 62px;
      height: 71px;
    opacity: 1;
    border: none !important;
  }
    .svgfileinvoicedollaroutlineA-332042585  {
    position: absolute; 
      width: 44px;
      height: 44px;
      margin-left: 9px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    
      .lbllabel-332042587  {
    position: absolute; 
      width: 62px;
      
      top: 50px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #b5b5c3;
  }
      .svgarrowrightB-332042588  {
    position: absolute; 
      width: 27px;
      height: 25px;
      margin-left: 72px;
      top: 23px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .divheaderwizarditemunselected-332042592  {
    position: absolute; 
      width: 100px;
      height: 71px;
      margin-left: 743px;
      top: 15px;
    opacity: 1;
    border: none !important;
    margin-left: 52%;
  }
    .divPrivacy-332042593  {
    position: absolute; 
      width: 53px;
      height: 71px;
    opacity: 1;
    border: none !important;
  }
    .svguserlockoutlineB-332042594  {
    position: absolute; 
      width: 44px;
      height: 44px;
      margin-left: 4.5px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    
      .lbllabel-332042596  {
    position: absolute; 
      width: 53px;
      
      top: 50px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #b5b5c3;
  }
      .svgarrowrightB-332042597  {
    position: absolute; 
      width: 27px;
      height: 25px;
      margin-left: 63px;
      top: 23px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .divheaderwizarditemunselected-332042601  {
    position: absolute; 
      width: 97px;
      height: 71px;
      margin-left: 843px;
      top: 15px;
    opacity: 1;
    border: none !important;
    margin-left: 60%;
  }
    .divPriorClaim-332042602  {
    position: absolute; 
      width: 87px;
      height: 71px;
    opacity: 1;
    border: none !important;
  }
    .svghandholdingusdoutlineB-332042603  {
    position: absolute; 
      width: 44px;
      height: 44px;
      margin-left: 21.5px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    
      .lbllabel-332042605  {
    position: absolute; 
      width: 87px;
      
      top: 50px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 14px;
    line-height: undefinedpx;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #b5b5c3;
  }
      .svglogo-332042606  {
    position: absolute; 
      width: 170px;
      height: 54px;
      margin-left: 50px;
      top: 23px;
    opacity: 1;
    border: none !important;
      padding: 0;
  }
    .btnsave-332042619  {
    position: absolute; 
      width: 300px;
      height: 41px;
      margin-left: 1000px;
      top: 876px;
    opacity: 1;
    border-radius: 6px;
    border: none !important;
        background-color: #1bc5bd;
        
    margin-left: 80%;
  }
      
      .lblsave-332042620  {
    position: initial; 
      width: 300px;
      
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-decoration: NONE;
    text-align: CENTER;
    border: none !important;
        color: #ffffff;
  }
      

  .maincontainer { width: 100%}

  /* Border */
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #cfcfcf;
}
/* Font color */
::ng-deepinput.mat-input-element {
  color: #cfcfcf;
}

.txtstateOfPrincipalLocation-332042522 {
  border: none;
  position: absolute;
  width: 260.5px;
  height: 40px;
  top: 27px;
  opacity: 1;
  border-radius: 4px;
  border: none !important;
  background-color: #ffffff;
  padding: 0 !important;
}