.divprjlabel-376341727  {
  position: absolute; 
    width: 138px;
    height: 32px;
    margin-left: 5%;
    top: 134px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 21px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #f64e60;
}
    .divsearch-376341728  {
  position: absolute; 
    width: 250px;
    height: 38px;
    margin-left: 78%;
    top: 130px;
  opacity: 1;
  border-radius: 7px;
    border: 1px SOLID #c4c4c4;
      background-color: #ffffff;
}
    .svgsearchicon-376341729  {
  position: absolute; 
    width: 24px;
    height: 24px;
    margin-left: 11px;
    top: 4px;
  opacity: 1;
  border: none !important;
    padding: 0;
}
  .divsearchlabel-376341731  {
  position: absolute; 
    width: 43px;
    height: 18px;
    margin-left: 47px;
    top: 10px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #6c6e70;
}
  .divheader-376341732  {
  position: absolute; 
    width: 100%;
    height: 80px;
  opacity: 1;
      border-bottom: 1px SOLID #dddddd;
      box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.15000000596046448);
      background-color: #ffffff;
}
    .divpanel-376341734  {
  position: absolute; 
    width: 222px;
    height: 21px;
    margin-left: 78%;
    top: 29.5px;
  opacity: 1;
  border: none !important;
}
  .divwelcome-376341735  {
  position: absolute; 
    width: 67px;
    height: 21px;
    margin-left: 24px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #000000;
}
  .divselername-376341736  {
  position: absolute; 
    width: 146px;
    height: 21px;
    margin-left: 99px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #000000;
}
  .divsymbol-376341737  {
  position: absolute; 
    width: 5px;
    height: 21px;
    margin-left: 253px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #000000;
}
  .btnlogout-376341741  {
  
  position: absolute; 
    width: 91px;
    height: 21px;
    top: 7px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #f64e60;position: absolute; 
    width: 109px;
    height: 35px;
    margin-left: 93%;
    top: 22px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
position: absolute; 
    width: 109px;
    height: 35px;
  opacity: 1;
  border-radius: 5px;
    border: 1px SOLID #f64e60;position: absolute; 
    width: 109px;
    height: 35px;
  opacity: 1;
  border-radius: 5px;
    border: 1px SOLID #f64e60;}
  .btllogout-376341743  {
  position: absolute; 
    width: 91px;
    height: 21px;
    top: 7px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #f64e60;
}
  .divfooter-376341744  {
  position: absolute; 
    width: 100%;
    height: 149px;
    top: 820px;
  opacity: 1;
  border: none !important;
      background-color: #f64e60;
}
    .svglogofooter-376341745  {
  position: absolute; 
    width: 224px;
    height: 78px;
    margin-left: 43.20001220703125px;
    top: 32px;
  opacity: 1;
  border: none !important;
    padding: 0;
}
  .divcredits-376341746  {
  position: absolute; 
    width: 315px;
    height: 21px;
    margin-left: 5%;
    top: 60.5px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #ffffff;
}
  .svglinehor-376341747  {
  position: absolute; 
    width: 0.0000034094882721547037px;
    height: 78px;
    margin-left: 1188.800048828125px;
    top: 32px;
  opacity: 1;
  border: none !important;
    padding: 0;
}
  .divcontactlabel-376341749  {
  position: absolute; 
    width: 79px;
    height: 21px;
    margin-left: 88%;
    top: 40.5px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #ffffff;
}
  .svgallicons-376341750  {
  position: absolute; 
    width: 176px;
    height: 24px;
    margin-left: 88%;
    top: 77.5px;
  opacity: 1;
  border: none !important;
    padding: 0;
}
  .divprojlistheaders-376341761  {
  position: absolute; 
    width: 1000px;
    height: 37px;
    margin-left: 28%;
    top: 218px;
  opacity: 1;
  border: none !important;
}
    .divheaderlabel-376341762  {
  position: absolute; 
    width: 250px;
    height: 21px;
    margin-left: 32px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #6c6e70;
}
  .divheaderlabel-376341763  {
  position: absolute; 
    width: 193px;
    height: 21px;
    margin-left: 282px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #6c6e70;
}
  .divheaderlabel-376341764  {
  position: absolute; 
    width: 164.3333282470703px;
    height: 21px;
    margin-left: 475px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #6c6e70;
}
  .divheaderlabel-376341765  {
  position: absolute; 
    width: 164.3333282470703px;
    height: 21px;
    margin-left: 639.3333129882812px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #6c6e70;
}
  .divheaderlabel-376341766  {
  position: absolute; 
    width: 164.3333282470703px;
    height: 21px;
    margin-left: 803.6666259765625px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #6c6e70;
}
  .divprojcards-376341767  {
  position: absolute; 
    width: 1000px;
    height: 69px;
    margin-left: 28%;
    top: 278px;
  opacity: 1;
  border: none !important;
}
    .quoteItem-376341768  {
  position: absolute; 
    width: 1000px;
    height: 53px;
    top: 8px;
  opacity: 1;
  border-radius: 8px;
    border: 1px SOLID #c4c4c4;
      box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.05000000074505806);
      background-color: #ffffff;
}
  .divprojectName-376341769  {
  position: absolute; 
    width: 250px;
    height: 21px;
    margin-left: 32px;
    top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #1e1e1e;
}
  .divcreateDate-376341770  {
  position: absolute; 
    width: 171.5px;
    height: 21px;
    margin-left: 282px;
    top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
      color: #1e1e1e;
}
  .divmethodstatus-376341771  {
  position: absolute; 
    width: 171.5px;
    height: 21px;
    margin-left: 453.5px;
    top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #000000;
}
  .divsdgstatus-376341772  {
  position: absolute; 
    width: 171.5px;
    height: 21px;
    margin-left: 625px;
    top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #000000;
}
  .btnaction-376341780  {
  position: absolute; 
    width: 90px;
    // height: 26px;
    margin-left: 843px;
    top: 7px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
      background-color: #ffe9e9;
}
  
    .lblaction-376341781  {
  // position: absolute; 
    // width: 90px;
    
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #f64e60;
}
    .btncreate-376341774  {
  
  position: absolute; 
    width: 91px;
    height: 21px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #fafafa;position: absolute; 
    width: 109px;
    height: 38.619140625px;
    margin-left: 92%;
    top: 127.740234375px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
position: absolute; 
    width: 109px;
    height: 38px;
  opacity: 1;
  border-radius: 5px;
  border: none !important;
      background-color: #f64e60;}
    .btlcreate-376341776  {
  position: absolute; 
    width: 91px;
    height: 21px;
    top: 8px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
      color: #fafafa;
}
  
.divsde-376341773 {
  position: absolute;
  width: 171.5px;
  height: 21px;
  margin-left: 465px;
  top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 14px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #000000;
}